.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
}

.logo-container {
  padding-left: 10px;
}

.logo {
  height: 90px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  margin: 20px;
}

/* BODY COMPONENT*/

.search {
  padding: 20px;
}

.description {
  display: flex;
}

.filter-btn {
  margin: 10px;
  background-color: transparent;
  font-size: 18px;
  border-color: transparent;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 40px;
}

/* Restaurant Card */
.restaurant-card {
  height: 50vh;
  width: 20vw;
  border-radius: 10%;
  margin: 2vh;
}

.restaurant-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.restaurant-image {
  height: 33vh;
  width: 100%;
  border-radius: 10%;
}

.card-heading {
  padding: 0px 5px;
}

.description > h5 {
  padding: 0px 5px;
  margin: 0px;
}

.restaurant-name {
  margin: 5px;
}

.restaurant-description {
  color: grey;
  margin-top: 5px;
  padding-left: 3px;
}
