.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
}

.logo-container {
  padding-left: 10px;
}

.logo {
  height: 90px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  margin: 20px;
}

.logout-button {
  background-color: transparent;
  border-color: transparent;
}

/* BODY COMPONENT*/

.search {
  padding: 20px;
}

.description {
  display: flex;
}

.filter-btn {
  margin-right: 10px;
  /* margin: 10px;
  background-color: transparent;
  font-size: 18px;
  color: blue; */
}

.search-box {
  size: 20px;
}

.restaurant-container,
.skeleton-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 40px;
}

/* Restaurant Card */
.restaurant-card {
  height: 50vh;
  width: 20vw;
  border-radius: 10%;
  margin: 2vh;
}

.restaurant-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.restaurant-image {
  height: 33vh;
  width: 100%;
  border-radius: 10%;
}

.card-heading {
  padding: 0px 5px;
}

.description > h5 {
  padding: 0px 5px;
  margin: 0px;
}

.restaurant-name {
  margin: 5px;
}

.restaurant-description {
  color: grey;
  margin-top: 5px;
  padding-left: 3px;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Skeleton Card*/
.skeleton-card {
  height: 50vh;
  width: 20vw;
  border-radius: 10%;
  margin: 2vh;
  background-color: #ffffff;
}

.restaurant-image-skeleton {
  height: 33vh;
  width: 20vw;
  border-radius: 10%;
  margin: 2vh;
  background-color: #f0f0f0;
}

.restaurant-description-1-skeleton {
  height: 3vh;
  width: 60%;
  padding-left: 15px;
  margin-left: 25px;
  background-color: #f0f0f0;
}

.restaurant-description-2-skeleton {
  height: 3vh;
  width: 90%;
  padding-left: 15px;
  margin-left: 25px;
  margin-top: 15px;
  background-color: #f0f0f0;
}
